.ModuleCard{
    background-color: #01875f;
    color: white;
    /* margin: 1%; */
    width: 15rem;
    height: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    max-height: fit-content;

    border-radius: 0.25rem;

}