.Modules_container{
    background-color: var(--secondary-color);
    width: 98%;
    height: 95%;
    border-radius: 1rem 0 0 1rem   ;
    display: flex;
    align-items: center;
    justify-content: center;
}