.Admin-Container{
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.LeftSide-LogIn{
    width: 56rem;
    height: 100%;
    border-radius:0 15rem 15rem 0 ;
    /* border-radius:0 50% 50% 0 ; */

    background-color: #96d7fa;
    background-image: url("../assets/logBG3.svg");

    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}
.LeftSide-LogIn2{
    width: 95%;
    height: 100%;
    border-radius:0 17rem 17rem 0 ;
    /* border-radius:0 50% 50% 0 ; */


    background-color: #0288d1;
    background-image: url("../assets/logBG2.svg");



    display: flex;
    align-items: center;
    justify-content: start;
}

.LeftSide-LogIn3{
    width: 90%;
    height: 100%;
    border-radius:0 17rem 17rem 0 ;
    /* border-radius:0 50% 50% 0 ; */


    
    background-color: #013f60;
    /* background-image: url("../assets/logBG1.svg"); */
 


    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 2rem;
}
.RightSide-LogIn{
    width: 45%;
    height: 100%;
    /* background-color: var(--tertiary-color); */
    background-color: var(--secondary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.LogIn-Title{
    margin: 4% 2% 0 0;
    padding: 0;
    display: flex;justify-content: center;
    gap:10px;
}
.Login-Submit{
    text-decoration: none;
    background-color: var(--tertiary-color);
    color: var(--tertiaryText-color);
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0.5rem;
    border: 2px solid var(--tertiary-color);
    transition: 0.25s;
    margin-top: 6%;
}

.Login-Submit:hover{
    background-color: var(--secondary-color);
    color: var(--primaryText-color);

}

.ReturnLog{
    width: 60%;
    margin-bottom: 4%;
}


.Login-SVG{
    height: 40rem;
    position: absolute;
    right: 24%;
    bottom: 4rem;
}
/* .LogIn-Text{
    margin-top: 7vh;
    font-size: 5vh;
    color: white;
} */