.BottomSection{
    display: flex;
    position: relative;
    z-index: 1;

}
.ThePage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.TopSection{
    
    box-shadow:0 1px 1px var(--tertiary-color);
    position: relative;
    z-index: 2;
}

.MainSection{
    background-color: var(--primary-color);
    width: 80vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: end;
}



/* .MainPage-Conatiner{
    /* padding: 0 !important;
    margin: 0 !important;
    height: 100% !important;
    width: 100% !important; 


   


} */

.TITLE-ALGER1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.ALger1{
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    /* color: black; */
    margin: 0.75%;
}



/* ===== LIGHT THEME COLORS ===== */

/* Primary Color Background */
.bg-light-primary {
    background-color: #1ba4f6;
  }
  
  /* Secondary Color Background */
  .bg-light-secondary {
    background-color: #7f74fa;
  }
  
  /* Accent Color Background */
  .bg-light-accent {
    background-color: #7c42f8;
  }
  
  /* Background Default */
  .bg-light-background-default {
    background-color: #eff7fe;
  }
  
  /* Background Paper */
  .bg-light-background-paper {
    background-color: #ffffff;
  }
  
  /* Text Primary Background */
  .bg-light-text-primary {
    background-color: #011723;
  }
  
  /* ===== DARK THEME COLORS ===== */
  
  /* Primary Color Background */
  .bg-dark-primary {
    background-color: #0992e1;
  }
  
  /* Secondary Color Background */
  .bg-dark-secondary {
    background-color: #10058a;
  }
  
  /* Accent Color Background */
  .bg-dark-accent {
    background-color: #4007bb;
  }
  
  /* Background Default */
  .bg-dark-background-default {
    background-color: #01080e;
  }
  
  /* Background Paper */
  .bg-dark-background-paper {
    background-color: #01080e;
  }
  
  /* Text Primary Background */
  .bg-dark-text-primary {
    background-color: #dcf2fe;
  }
  


  .SvgPics{
    height: 200px;
  }

  